* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

.pd {
    padding: 100px 0;
}

body {
    font-family: Motserrat;
    font-weight: 400;
}

header {
    background: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header_links {
    width: 540px;
    display: flex;
    justify-content: space-between;
}

nav {
    padding: 40px 0 0;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff !important;

}

.header_link {
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff !important;
}

.header_title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 48px;
    padding-top: 350px;

}

.header_subtitle {
    font-family: 'Roboto Slab';
    text-transform: capitalize;
    color: #ffffff;
    font-size: 20px;
    margin: 33px 0 55px;
}

.header_btn {
    padding: 17px 33px;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #ffffff !important;
    display: inline-block;
    margin-bottom: 260px;
    text-transform: uppercase;
}

.section_title {
    color: #555;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    position: relative;
}

.section_title::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #555;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);


}

.section_subtitle {
    font-size: 16px;
    color: #555;
    font-family: 'Roboto Slab';
    margin-top: 50px;
}

.services_icon {
    margin-top: 70px;
}

.service_fa {
    font-size: 60px;
    width: 86px;
    height: 86px;
    border: 2px solid #dfdfdf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: 0.6s;
    color: #c0301c;
}

.services_title {
    margin: 30px 0 26px;
    font-size: 14px;
    color: #555;
    text-transform: uppercase;
    font-weight: 700;
}

.services_subtitle {
    font-size: 14px;
    color: #555;
    font-family: 'Roboto Slab';
}

.services_icon:hover .service_fa {
    background: #c0301c;
    color: #fff;
}

.services_icon:hover {
    cursor: default;
}

.fa-bars {
    color: #fff;
    font-size: 30px;
}

.menu_burger {
    display: none;
}

.fa-arrow-left {
    position: absolute;
    left: 15px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 11px 11px;
    color: #fff;
    background: #d8d8d8;
}

.fa-arrow-right {
    position: absolute;
    right: 15px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 11px 11px;
    color: #fff;
    background: #d8d8d8;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover {
    background: #c0301c;
}

.slick-arrow {
    background: none;
    border: none;
}

.slick-slide {
    outline: none;
}


.social {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    opacity: 0;
    transition: 0.5s;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
    z-index: 2;
}

.overlay {
    width: 89%;
    height: 100%;
    background: #555;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 0.5s;
}

.inner:hover .overlay {
    opacity: 0.5;
    z-index: 1;
}

.inner:hover .social {
    opacity: 1;
}

.social .fa {
    width: 28px;
    height: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider .inner:hover .social {
    opacity: 1;
}

.social .fa:hover {
    background: #c0301c;
}

.hover_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    height: 100%;
     background-color: rgba(192, 48, 28, 0.7);
    display: none;
    }
    .tab-pane .col-xl-4{
        margin-bottom: 30px;
    }

.tab-pane .col-xl-4:hover .hover_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hover_img_title{
    font-size: 18px;
    
}
.hover_img_subtitle{
    font-size: 12px;
    color: white;
    line-height: 24px;
    font-family: 'Roboto Slab';
}
.hover_img_btn{
    padding: 15px 20px;
    font-family: 'Roboto Slab';
    font-size: 14px;
    color: #c0301c !important;
    background: #fff;
}

.nav-tabs  {
    margin:60px 0 72px;
    display: flex;
    justify-content: center;
    border-bottom: none;
}
.nav-link{
    border: none !important; 
    color: #555 !important;
    font-size: 16px;
    font-family: 'Roboto Slab';
}
.nav-link.active{
    color: #c0301c !important;
}
.project{
    background: url(..//images/call_bg.jpg);
   text-align: center;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.project_title{
    font-family: 'Roboto Slab';
    font-size: 30px;
    color: #fff;
    line-height: 44px;
    width: 450px;
    margin: 0 auto 55px;
} 
.project_btn{
    padding: 17px 33px;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #ffffff !important;
    display: inline-block;
    text-transform: uppercase;
}
.container{
    display: flex;
    align-items: center;
    margin: auto;
}
.startup_data{
    height: 76px;
    width: 76px;
    border: solid 2px #555 ;
    color: #555555;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    text-align: center;
}
.startup_title{
    color: #c0301c;
    font-size: 16px;
    font-family: 'Montserrat';
} 